<div id="grad">
<marquee behavior="alternate"><h1>ASSET MANAGEMENT SYSTEM</h1></marquee>

<nav class="nav nav-pills nav-fill navbar-dark bg-dark">
    <a class="nav-item nav-link" href="/about">About Us</a>
    <a class="nav-item nav-link" href="/add">Add Asset</a>
    <a class="nav-item nav-link" href="/search">Search Asset</a>
    <a class="nav-item nav-link" href="/show">Show Assets</a>
    <a class="nav-item nav-link" href="/addRequest">Make Request</a>
    <a class="nav-item nav-link" href="/showRequests">Show Requests</a>
</nav>
</div>


<router-outlet></router-outlet>